MASTER_ LinkedIn Sales Machine.json
{
  "name": "MASTER: LinkedIn Sales Machine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "1532de33-8099-445c-8859-48eebbd31cfd",
      "name": "10AM: 3-Day Nudge",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        864
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Lead",
        "limit": 25,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Replied"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "Contacted"
            }
          ]
        }
      },
      "id": "b4f827e4-d3ee-4324-a097-61c0447da52a",
      "name": "Supabase: Fetch Follow-ups",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        864
      ],
      "credentials": {
        "supabaseApi": {
          "id": "haoOEsP8Okk8QccR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "minimax-m2.5:cloud",
          "mode": "list",
          "cachedResultName": "minimax-m2.5:cloud"
        },
        "messages": {
          "values": [
            {
              "content": "={{ \"Act as a world-class LinkedIn outreach expert. Using the insights from the Email Marketing Bible (Optimal length: 50-125 words, Soft CTA, PAS Framework), write a personalized follow-up message for \" + $json.firstName + \". \\n\\nContext: They are at \" + $json.company + \" and we previously reached out about AI lead gen automation. \\n\\nRules:\\n1. Focus on a specific problem (Problem-Agitate-Solution).\\n2. Keep it under 100 words.\\n3. Use a soft, interest-based CTA: 'Worth a quick chat?'.\\n4. Do NOT sound like a bot.\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        448,
        864
      ],
      "id": "217f8c75-52c2-4383-a155-6eeb3b1e8877",
      "name": "AI: Generate EMB Nudge",
      "credentials": {
        "ollamaApi": {
          "id": "C6pdC5R4ElDtEwvV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-vp.vercel.app/api/linkedin/follow-up",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Outreach-Secret",
              "value": "my-super-secret-123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \nJSON.stringify({\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"profileUrl\": $('Split In Batches1').item.json.linkedinUrl,\n    \"message\": $json.personalizedMessage,\n    \"leadId\": $('Split In Batches1').item.json.id\n  }\n})\n}}",
        "options": {}
      },
      "id": "1a605d78-014e-4a6e-8a1d-8053c715519d",
      "name": "Vercel API: Send Nudge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        784,
        864
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "738a89e9-9ac2-4dcd-a2de-3a2c489b1ef1",
      "name": "Every 15m: Scan Inbox",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-vp.vercel.app/api/linkedin/check-inbox",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Outreach-Secret",
              "value": "my-super-secret-123"
            }
          ]
        },
        "options": {}
      },
      "id": "0b71cf3d-e4b1-47be-91bf-e441c96349ae",
      "name": "Vercel API: Trigger Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-no-link",
              "name": "personalizedMessage",
              "value": "={{ $json.metadata?.draft || (\"Hi \" + $json.firstName + \", I saw your work at \" + $json.company + \". I'm a CS & Data Science guy building AI outreach tools for founders—would love to connect!\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1c32233f-166a-42a5-a5dd-1c3a418fb734",
      "name": "Construct Icebreaker",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Lead",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Contacted"
            }
          ]
        }
      },
      "id": "7ee3dd6b-20b3-4961-9012-348fee9b4db3",
      "name": "Supabase: Mark Contacted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "haoOEsP8Okk8QccR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "deepseek-v3.1:671b-cloud",
          "mode": "list",
          "cachedResultName": "deepseek-v3.1:671b-cloud"
        },
        "messages": {
          "values": [
            {
              "content": "={{ \"You are Robel's AI Assistant. Robel is a CS & Data Science expert who builds custom AI outreach systems. \\n\\nA lead named \" + $json.body.firstName + \" just replied to our LinkedIn message. \\n\\nLead Message: '\" + $json.body.lastMessage + \"'\\n\\nYour Goal: Be genuinely helpful. Ask about their current lead gen process. Do NOT send a booking link yet unless they ask. \\n\\nRules:\\n1. Max 40 words.\\n2. Sound like a sharp technical assistant, not a bot.\\n3. Ask: 'Curious, how are you guys handling outreach right now? Manual or using some tools?'\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        256,
        432
      ],
      "id": "e2817735-36d5-4216-bd36-c2efc39390a8",
      "name": "AI: Conversational Assistant",
      "credentials": {
        "ollamaApi": {
          "id": "C6pdC5R4ElDtEwvV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "731a5496-a212-4f36-8eaa-144d1011fbef",
      "name": "9AM: Start Outreach1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Lead",
        "limit": 25,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Contacted"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "Replied"
            }
          ]
        }
      },
      "id": "3cea018b-7f77-4784-9616-1f4b62402713",
      "name": "Supabase: Fetch 25 Leads1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "haoOEsP8Okk8QccR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 45,
        "unit": "seconds"
      },
      "id": "1a657ae2-fba5-43c2-a892-98864a86be9a",
      "name": "Wait 45s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1408,
        208
      ],
      "webhookId": "e4bcd5b5-1f1f-4751-bbf3-b6991dfbf5f2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-inbound",
        "options": {}
      },
      "id": "616601d2-db4f-4c16-81ff-8d25fce46747",
      "name": "Webhook: LinkedIn Inbound1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        432
      ],
      "webhookId": "linkedin-inbound"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://new-vp.vercel.app/api/linkedin/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Outreach-Secret",
              "value": "my-super-secret-123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    threadUrl: $node[\"Webhook: LinkedIn Inbound1\"].json.body.threadUrl,\n    message: $node[\"AI: Conversational Assistant\"].json.choices[0].message.content\n  })\n}}",
        "options": {}
      },
      "id": "6d510d08-8175-4384-93d2-ebb4d3f9c302",
      "name": "Vercel API: Send Chat1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Lead",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Replied"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        432
      ],
      "id": "ff59bfb6-0222-476f-8578-f33b59c2517c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "haoOEsP8Okk8QccR",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/urmomswiperight/New-vp/actions/workflows/linkedin-worker.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": " application/vnd.github.v3+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \nJSON.stringify({\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"profileUrl\": $('Loop Over Items').item.json.linkedinUrl,\n    \"message\": $json.personalizedMessage,\n    \"leadId\": $('Loop Over Items').item.json.id\n  }\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        208
      ],
      "id": "00992848-a150-4836-9b0a-1e222aa389fc",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tuODxMSOvvKCM8br",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5602294084",
        "text": "={{ \"🚀 NEW LINKEDIN REPLY!\\n\\nFrom: \" + $json.body.firstName +\"\\nMessage: \" + $json.body.lastMessage + \"\\n\\nThread: \" +$json.body.threadUrl }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        656
      ],
      "id": "6b0145d2-034f-41af-bbf2-4e1c5a378f0e",
      "name": "Send a text message",
      "webhookId": "46dd718e-1d1d-4165-be78-45093b1b17ac",
      "credentials": {
        "telegramApi": {
          "id": "kkMzJjT4FM7DYXpR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        192
      ],
      "id": "b180d87a-f4ea-4672-a578-fd64610597f9",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {
    "Every 15m: Scan Inbox": [
      {
        "json": {
          "timestamp": "2026-04-26T14:30:10.006-04:00",
          "Readable date": "April 26th 2026, 2:30:10 pm",
          "Readable time": "2:30:10 pm",
          "Day of week": "Sunday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "26",
          "Hour": "14",
          "Minute": "30",
          "Second": "10",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "9AM: Start Outreach1": [
      {
        "json": {
          "timestamp": "2026-05-07T12:00:09.003-04:00",
          "Readable date": "May 7th 2026, 12:00:09 pm",
          "Readable time": "12:00:09 pm",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "07",
          "Hour": "12",
          "Minute": "00",
          "Second": "09",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "10AM: 3-Day Nudge": [
      {
        "json": {
          "timestamp": "2026-05-08T10:00:00.004-04:00",
          "Readable date": "May 8th 2026, 10:00:00 am",
          "Readable time": "10:00:00 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "08",
          "Hour": "10",
          "Minute": "00",
          "Second": "00",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "10AM: 3-Day Nudge": {
      "main": [
        [
          {
            "node": "Supabase: Fetch Follow-ups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch Follow-ups": {
      "main": [
        [
          {
            "node": "AI: Generate EMB Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Generate EMB Nudge": {
      "main": [
        [
          {
            "node": "Vercel API: Send Nudge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Icebreaker": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Mark Contacted": {
      "main": [
        [
          {
            "node": "Wait 45s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Conversational Assistant": {
      "main": [
        [
          {
            "node": "Vercel API: Send Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9AM: Start Outreach1": {
      "main": [
        [
          {
            "node": "Supabase: Fetch 25 Leads1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Fetch 25 Leads1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 45s1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: LinkedIn Inbound1": {
      "main": [
        [
          {
            "node": "AI: Conversational Assistant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 15m: Scan Inbox": {
      "main": [
        [
          {
            "node": "Vercel API: Trigger Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel API: Send Chat1": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase: Mark Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Construct Icebreaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "509a90d0-6aa1-4161-9bd3-203c76196d5f",
  "meta": {
    "instanceId": "25dbeefd104401de6057426dac9740ab9fec6da0e0c1573368d9b07a295a3b70"
  },
  "id": "BVbySbeXRPV4Cump",
  "tags": []
}