n8n_inbound_message_handler_v3.json
{
  "name": "Phase 10: Message-on-Accept Webhook Handler (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-accepted-webhook",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-body",
              "name": "data",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Extract Webhook Body",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [620, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/urmomswiperight/New-vp/actions/workflows/linkedin-worker.yml/dispatches",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GITHUB_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"ref\": \"main\", \"inputs\": {\"mode\": \"REPLY\", \"threadUrl\": $json.data.threadUrl, \"message\": $json.data.personalizedMessage}}) }}",
        "options": {}
      },
      "id": "3",
      "name": "GitHub Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract Webhook Body", "type": "main", "index": 0 }]]
    },
    "Extract Webhook Body": {
      "main": [[{ "node": "GitHub Request", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "versionId": "b1b1b1b1-b1b1-b1b1-b1b1-b1b1b1b1b1b1"
}
