n8n_email_workflow.json
{
  "name": "Outreach Engine (Scaled)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "schedule-trigger-id",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        50,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outreach-trigger",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "7f8e9a0b-1c2d-4e5f-a6b7-c8d9e0f1a2b3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        50,
        500
      ],
      "credentials": {
        "headerAuth": {
          "id": "X-API-KEY-Credential-ID",
          "name": "Outreach API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Campaign",
        "filters": {
          "conditions": [
            {
              "key": "status",
              "value": "Active"
            }
          ]
        }
      },
      "id": "find-active-campaigns-id",
      "name": "Find Active Campaigns",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Campaign",
        "filters": {
          "conditions": [
            {
              "key": "id",
              "value": "={{ $json.body.campaignId }}"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e",
      "name": "Check Campaign Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        450,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "Active"
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Is Active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Lead",
        "filters": {
          "conditions": [
            {
              "key": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "key": "status",
              "value": "New"
            },
            {
              "key": "region",
              "value": "Ethiopia"
            }
          ]
        },
        "limit": 240
      },
      "id": "get-eth-leads-id",
      "name": "Get ETH Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Lead",
        "filters": {
          "conditions": [
            {
              "key": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "key": "status",
              "value": "New"
            },
            {
              "key": "region",
              "value": "International"
            }
          ]
        },
        "limit": 160
      },
      "id": "get-int-leads-id",
      "name": "Get INT Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.variant || 'A' }}",
        "rules": {
          "rules": [
            {
              "value2": "A"
            },
            {
              "value2": "B"
            }
          ]
        }
      },
      "id": "split-variant-id",
      "name": "Split by Variant",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "=Write a short (1-2 sentences) highly personalized icebreaker for {{ $json.firstName }} who works at {{ $json.company }}.\n\nVARIANT: A (Feature-Focused)\nTONE: Professional, Direct, Authoritative\n\nCONTEXT:\n- Region: {{ $json.region }}\n- Metadata: {{ JSON.stringify($json.metadata) }}\n\nGUIDELINES:\n1. Focus on technical automation and AI efficiency.\n2. Mention we help consulting agencies automate outreach to scale locally and internationally.\n3. Be direct and insightful.\n4. Keep it under 40 words.",
        "options": {}
      },
      "id": "variant-a-node-id",
      "name": "AI Variant A",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpenAI-Credential-ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "=Write a short (1-2 sentences) highly personalized icebreaker for {{ $json.firstName }} who works at {{ $json.company }}.\n\nVARIANT: B (Benefit-Focused)\nTONE: Conversational, Friendly, Curiosity-driven\n\nCONTEXT:\n- Region: {{ $json.region }}\n- Metadata: {{ JSON.stringify($json.metadata) }}\n\nGUIDELINES:\n1. Focus on growth, time saved, and removing the stress of manual outreach.\n2. Mention the benefit of scaling without increasing headcount.\n3. Use a more human, conversational tone.\n4. Keep it under 40 words.",
        "options": {}
      },
      "id": "variant-b-node-id",
      "name": "AI Variant B",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpenAI-Credential-ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (120 - 30 + 1) + 30) }}",
        "unit": "seconds"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f8a9b0c",
      "name": "Jitter Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1550,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-email@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Quick question for {{ $json.firstName }} @ {{ $json.company }}",
        "html": "=<html>\n<body>\n<p>Hi {{ $json.firstName }},</p>\n<p>{{ $json.choices[0].message.content }}</p>\n<p>I was looking at what {{ $json.company }} is doing and wanted to reach out regarding our AI automation services.</p>\n<p>Best,<br>Robel</p>\n</body>\n</html>",
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-4m3n-o4p5-q6r7s8t9u0v1",
      "name": "Send Cold Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1750,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "SMTP-Credential-ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "UPDATE",
        "table": "Lead",
        "filters": {
          "conditions": [
            {
              "key": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "updateFields": {
          "status": "Contacted (Email)"
        }
      },
      "id": "h8i9j0k1-l2m3-4n4o-p5q6-r7s8t9u0v1w2",
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1950,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Find Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Active Campaigns": {
      "main": [
        [
          {
            "node": "Is Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Check Campaign Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Campaign Status": {
      "main": [
        [
          {
            "node": "Is Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Active?": {
      "main": [
        [
          {
            "node": "Get ETH Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get INT Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ETH Leads": {
      "main": [
        [
          {
            "node": "Split by Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get INT Leads": {
      "main": [
        [
          {
            "node": "Split by Variant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Variant": {
      "main": [
        [
          {
            "node": "AI Variant A",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Variant B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Variant A": {
      "main": [
        [
          {
            "node": "Jitter Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Variant B": {
      "main": [
        [
          {
            "node": "Jitter Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jitter Wait": {
      "main": [
        [
          {
            "node": "Send Cold Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cold Email": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "hash": "email-workflow-v4-scaled"
}
