n8n_linkedin_workflow.json
{
  "name": "LinkedIn Outreach - Advanced Modular (Cloud Ready)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "trigger-9am",
      "name": "Daily Start (9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "Lead",
        "limit": 50,
        "filters": {
          "conditions": [
            {
              "key": "status",
              "value": "Drafted"
            },
            {
              "key": "linkedinUrl",
              "operator": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-leads",
      "name": "Fetch 50 Drafted Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        50,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "id": "jitter-wait",
      "name": "Safety Wait (2m)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manyreach.com/v1/linkedin/send-request",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_url",
              "value": "={{ $json.linkedinUrl }}"
            },
            {
              "name": "message",
              "value": "={{ $json.metadata.draft || 'Hi ' + $json.firstName + ', let\\'s connect!' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "manyreach-sender",
      "name": "ManyReach Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ManyReach-API-Key",
          "name": "ManyReach API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-error",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "tableName": "Lead",
        "updateKey": "id",
        "dataToUpdate": {
          "values": [
            {
              "column": "status",
              "value": "Contacted"
            }
          ]
        },
        "options": {}
      },
      "id": "update-success",
      "name": "Mark Contacted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableName": "OutreachLog",
        "dataToInsert": {
          "values": [
            {
              "column": "id",
              "value": "={{ 'log-' + $node[\"Split in Batches\"].json.id + '-' + Date.now() }}"
            },
            {
              "column": "leadId",
              "value": "={{ $node[\"Split in Batches\"].json.id }}"
            },
            {
              "column": "channel",
              "value": "LinkedIn"
            },
            {
              "column": "action",
              "value": "Sent"
            },
            {
              "column": "details",
              "value": "={{ JSON.stringify($node[\"ManyReach Send\"].json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableName": "Lead",
        "updateKey": "id",
        "dataToUpdate": {
          "values": [
            {
              "column": "status",
              "value": "Error"
            }
          ]
        },
        "options": {}
      },
      "id": "update-error",
      "name": "Mark Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableName": "OutreachLog",
        "dataToInsert": {
          "values": [
            {
              "column": "id",
              "value": "={{ 'err-' + $node[\"Split in Batches\"].json.id + '-' + Date.now() }}"
            },
            {
              "column": "leadId",
              "value": "={{ $node[\"Split in Batches\"].json.id }}"
            },
            {
              "column": "channel",
              "value": "LinkedIn"
            },
            {
              "column": "action",
              "value": "Error"
            },
            {
              "column": "details",
              "value": "={{ JSON.stringify($node[\"ManyReach Send\"].json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1450,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node[\"Split in Batches\"].context[\"noItemsLeft\"] }}",
              "value2": true
            }
          ]
        }
      },
      "id": "loop-complete",
      "name": "Loop Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1550,
        400
      ]
    }
  ],
  "connections": {
    "Daily Start (9 AM)": {
      "main": [
        [
          {
            "node": "Fetch 50 Drafted Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 50 Drafted Leads": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Safety Wait (2m)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Wait (2m)": {
      "main": [
        [
          {
            "node": "ManyReach Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ManyReach Send": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Mark Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Contacted",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark Contacted": {
      "main": [
        [
          {
            "node": "Loop Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Error": {
      "main": [
        [
          {
            "node": "Loop Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Done?": {
      "main": [
        [],
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "hash": "linkedin-modular-v2"
}
