n8n_email_workflow.json
{
  "name": "Outreach Engine (Agentic v5)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger-id",
      "name": "Daily Outreach Start",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outreach-trigger",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger-id",
      "name": "Manual Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        500
      ],
      "credentials": {
        "headerAuth": {
          "id": "X-API-KEY-Credential-ID",
          "name": "Outreach API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Campaign",
        "filters": {
          "conditions": [
            {
              "key": "status",
              "value": "Active"
            },
            {
              "key": "type",
              "value": "Email"
            }
          ]
        }
      },
      "id": "get-active-campaigns",
      "name": "Get Active Campaigns",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "table": "Lead",
        "filters": {
          "conditions": [
            {
              "key": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "key": "status",
              "value": "New"
            }
          ]
        },
        "limit": 50
      },
      "id": "get-new-leads",
      "name": "Get 50 New Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.firecrawl.dev/v1/scrape?url={{ $json.linkedinUrl || 'https://' + $json.company + '.com' }}",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "research-node",
      "name": "Research Lead/Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        400
      ],
      "credentials": {
        "headerAuth": {
          "id": "Firecrawl-API-Key",
          "name": "Firecrawl API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "prompt": "=Analyze this lead and company data:\nNAME: {{ $node[\"Get 50 New Leads\"].json.firstName }} {{ $node[\"Get 50 New Leads\"].json.lastName }}\nCOMPANY: {{ $node[\"Get 50 New Leads\"].json.company }}\nRESEARCH: {{ $json.data }}\n\nGOAL: Rebuild the outreach automation to be more 'Agentic' and 'Resultful'.\n\nTASKS:\n1. Score this lead (0-100) based on potential interest in AI automation.\n2. Choose the best 'Angle' (A: Efficiency/Technical or B: Human/Benefit).\n3. Draft a ultra-personalized 1-sentence icebreaker.\n4. Draft a full cold email body (max 100 words).\n\nOUTPUT JSON:\n{\n  \"score\": number,\n  \"angle\": \"A\" | \"B\",\n  \"icebreaker\": \"string\",\n  \"emailBody\": \"string\",\n  \"reasoning\": \"string\"\n}",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "id": "agentic-reasoning",
      "name": "Agentic Reasoning & Draft",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "OpenAI-Credential-ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "INSERT",
        "table": "LeadDraft",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $node[\"Get 50 New Leads\"].json.id }}",
            "campaignId": "={{ $node[\"Get Active Campaigns\"].json.id }}",
            "content": "={{ $json.emailBody }}",
            "subject": "=Quick question for {{ $node[\"Get 50 New Leads\"].json.firstName }} @ {{ $node[\"Get 50 New Leads\"].json.company }}",
            "status": "Pending",
            "reasoning": "={{ JSON.stringify({ score: $json.score, angle: $json.angle, logic: $json.reasoning }) }}"
          }
        }
      },
      "id": "save-draft",
      "name": "Save Draft (HITL)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "UPDATE",
        "table": "Lead",
        "filters": {
          "conditions": [
            {
              "key": "id",
              "value": "={{ $node[\"Get 50 New Leads\"].json.id }}"
            }
          ]
        },
        "updateFields": {
          "status": "Pending Approval",
          "variant": "={{ $node[\"Agentic Reasoning & Draft\"].json.angle }}"
        }
      },
      "id": "update-lead-status",
      "name": "Mark Pending Approval",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "Supabase-Credential-ID",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Daily Outreach Start": {
      "main": [
        [
          {
            "node": "Get Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger Webhook": {
      "main": [
        [
          {
            "node": "Get Active Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Campaigns": {
      "main": [
        [
          {
            "node": "Get 50 New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 50 New Leads": {
      "main": [
        [
          {
            "node": "Research Lead/Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Lead/Company": {
      "main": [
        [
          {
            "node": "Agentic Reasoning & Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agentic Reasoning & Draft": {
      "main": [
        [
          {
            "node": "Save Draft (HITL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Draft (HITL)": {
      "main": [
        [
          {
            "node": "Mark Pending Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "hash": "agentic-outreach-v5-scaled"
}
